.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.7s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: fade-in-bottom 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-min {
  0% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-min {
  0% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-out-min {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    opacity: 0;
  }
}

@keyframes fade-out-min {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    opacity: 0;
  }
}

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-out {
  -webkit-animation: fade-out 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-out 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-in-min {
  -webkit-animation: fade-in-min 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-min 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  transition: 0.3s;
}

.fade-out-min {
  -webkit-animation: fade-out-min 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-out-min 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  transition: 0.3s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(900px);
    transform: translateX(900px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(900px);
    transform: translateX(900px);
    opacity: 0;
  }
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-out-right {
  -webkit-animation: slide-out-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-out-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

// marker selected pulse

@keyframes pulse-selected {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(91, 211, 219, 0.897);
  }
  100% {
    box-shadow: 0px 0px 0px 20px rgba(0, 0, 0, 0);
  }
}

@keyframes text-reveal {
  0% {
    transform: translate(0, 50%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

.flip-in-hor-bottom {
  -webkit-animation: flip-in-hor-bottom 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

// animation delays

.dl-1 {
  animation-delay: 0.1s;
}

.dl-2 {
  animation-delay: 0.2s;
}

.dl-3 {
  animation-delay: 0.3s;
}

.dl-4 {
  animation-delay: 0.4s;
}

.dl-5 {
  animation-delay: 0.5s;
}

.dl-6 {
  animation-delay: 0.6s;
}

.dl-7 {
  animation-delay: 0.7s;
}

.dl-8 {
  animation-delay: 0.8s;
}

.dl-9 {
  animation-delay: 0.9s;
}

.dl-10 {
  animation-delay: 1s;
}

@keyframes soc {
  0% {
    transform: translateZ(0);
  }
  to {
    transform: translate3d(-50%, 0, 0);
  }
}

// auto type cursor animations

.type::after {
  content: "||";
  animation: cursor 1.1s infinite step-start;
}

@keyframes cursor {
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotate-center {
  -webkit-animation: rotate-center 5.6s ease-in-out infinite both;
  animation: rotate-center 5.6s ease-in-out infinite both;
}
