.main-feed {
  display: flex;
  width: 100%;
  padding: 0px 50px;
  justify-content: space-between;
  column-gap: 30px;

  .feed-infos {
    position: sticky;
    top: 120px;
    width: 600px;
    height: 250px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }

  .feed-items {
    width: 100%;
  }
}
